/* 
COLORS
    crimson
    #333
   gba(173, 216, 230, 0.5);

*/


html,
body {
    margin: 0;
    padding: 0;
    /* background-color: #eeeeee; */
    background-color: #cccccc;

    border-left: 2px solid crimson;
}

object {
    height: 100%;
    width: 100%;
}

.settings-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 12.5% 87.5%;
}

/* .template-container {
    height: 100%;
    width: 100%;
    background-color: crimson;

} */

#sidebar {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    /* background-color: #34487B; */
    background-color: #333;
    color: #efefef;
    /* border-right: 2px solid crimson; */
}

.sidebar-item {
    list-style-type: none;
    padding: 10px;
    color: crimson;
    transition: background-color .2s ease-out, color .2s ease-out;
    /* transition: color 1s ease-out; */
    cursor: pointer;
    border-bottom: 1px solid crimson;
}

.sidebar-item:hover {
    color: #efefef;
    background-color: crimson;
    /* -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000; */
}

#main {
    display: grid;
    grid-template-rows: 90% 10%;
}

/* TOP */

#top {
    /* -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000; */
}

/* BOTTOM */

#bottom {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.buttons {
    padding: 5px 10px;
    text-align: center;
}

.buttons:hover {
    cursor: pointer;
}

.button-span {
    display: inline-block;
    margin-top: 5px;
}

#cancel {
    background-color: #333;
    color: #efefef;
}

#cancel:hover {
    background-color: crimson;
    color: #efefef;
}

#apply {
    background-color: crimson;
    color: #efefef;
    /* border: 2px solid crimson; */
}

#apply:hover {
    background-color: crimson;
    color: #efefef;
}

.sidebar-link {
    text-align: center;
    margin: 0 auto;
}

.sidebar-icon {
    font-size: 2em;
    z-index: 2;
    margin-top: 15px;
}

/* Settings List */

.settings-list-item {

    margin: 0 5px;
    background-color: #efefef;
    padding: 10px;

}

.settings-list-item:nth-child(even) {
    background-color: #fff;
}

.settings-list-ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}

.form-items {
    margin: auto;
}

.settings-form-input {
    margin-left: 5px;
    width: 90%;

}

.settings-form {
    margin: 0 auto;
}

/* DRAGS */

.draggable {
    -webkit-app-region: drag;
}

.buttons,
.sidebar-item,
.top,
.settings-form-input,
.maindiv {
    -webkit-app-region: no-drag;
}